@inherits ProjectComponentBase<TStore, TRepository, TModel>
@typeparam TStore
@typeparam TRepository
@typeparam TModel

@using EstimatorX.Client.Pages.Projects.Components

<div class="container-xxl">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/templates">Templates</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Edit
            </li>
        </ol>
    </nav>

    @if (EditContext == null)
    {
        <div class="card mb-5">
            <div class="card-header">
                <i class="fas fa-share-alt me-2"></i> Template - Loading ...
            </div>
            <div class="card-body">
                <Loading />
            </div>
        </div>
    }
    else
    {
        <EditForm EditContext="@EditContext" OnValidSubmit="@HandleSave">
            <FluentValidationValidator />

            <div class="card mb-5">
                <div class="card-header">
                    <i class="fas fa-share-alt me-2"></i> Template - @Store.Model?.Name
                    <Conditional Show="@Store.IsDirty">*</Conditional>
                    <TemplateTabs />
                </div>
                <div class="card-body @BodyClass">

                    <div class="row">
                        <div class="col">
                            <ValidationSummary />
                        </div>
                    </div>

                    @ChildContent

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <BusyButton id="save-button"
                                    type="submit"
                                    Busy="Store.IsBusy"
                                    Disabled="Store.IsClean"
                                    class="btn btn-primary">
                                <BusyTemplate>
                                    <span class='spinner-border spinner-border-sm'></span> Saving...
                                </BusyTemplate>
                                <ChildContent>
                                    Save
                                </ChildContent>
                            </BusyButton>
                        </div>
                        <div class="col">
                            <div class="dropdown">
                                <button id="template-action-button"
                                    type="button"
                                    class="btn btn-secondary dropdown-toggle fa-pull-right"
                                    disabled="@Store.IsBusy"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="template-action-button">
                                    <li>
                                        <button type="button" class="dropdown-item" @onclick="HandleDuplicate">
                                            Duplicate Template
                                        </button>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <button type="button" class="dropdown-item" @onclick="HandleDelete">
                                            Delete Template
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    }
</div>


