@using Blazored.FluentValidation
@using EstimatorX.Client.Extensions
@using EstimatorX.Client.Repositories
@using EstimatorX.Client.Services
@using EstimatorX.Client.Stores
@using EstimatorX.Shared.Extensions
@using EstimatorX.Shared.Models

@inject NotificationService NotificationService
@inject TemplateStore TemplateStore
@inject UserStore UserStore

<div class="row">
    <div class="col-8">
        <div class="mb-3">
            <label for="Name" class="form-label">
                Template Name: <span class="text-danger">*</span>
            </label>
            <InputText @bind-Value="Template.Name"
                       DisplayName="Name"
                       id="Name"
                       name="Name"
                       class="form-control"
                       placeholder="Name" />
            <ValidationMessage For="@(() => Template.Name)" />
        </div>

        <div class="mb-3">
            <label for="Description" class="form-label">
                Template Description:
            </label>
            <InputTextArea @bind-Value="Template.Description"
                           DisplayName="Description"
                           id="Description"
                           name="Description"
                           class="form-control"
                           placeholder="Description" />
            <ValidationMessage For="@(() => Template.Description)" />
        </div>
    </div>
    <div class="col-4">
        <div class="mb-3">
            <label for="Organization" class="form-label">
                Organization: <span class="text-danger">*</span>
            </label>
            <InputSelect @bind-Value="Template.OrganizationId"
                         DisplayName="Organization"
                         id="Organization"
                         name="Organization"
                         class="form-select">
                <option value="">-- Select --</option>
                <option value="@UserStore.Model.PrivateKey">Private</option>
                @foreach (var organization in UserStore.Model.Organizations)
                {
                    <option value="@organization.Id">@organization.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => Template.OrganizationId)" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Template Template { get; set; }
}
