@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Edit Organization";
}


<div class="container" ng-controller="organizationEditController" ng-init="viewModel.load('@Model', '@User.Identity.GetUserId()')">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a href="@Url.Action("Index")">Organizations</a></li>
        <li class="active">Edit</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-group"></i> Organization
            <span ng-show="viewModel.organization.Name">- <strong>{{ viewModel.organization.Name}}</strong></span>
        </div>
        <div class="panel-body">
            <div class="tab-container">
                <!-- Nav tabs -->
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#organization" aria-controls="organization" role="tab" data-toggle="tab">Organization</a></li>
                        <li role="presentation"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">Members</a></li>
                        <li role="presentation"><a href="#owners" aria-controls="owners" role="tab" data-toggle="tab">Owners</a></li>
                        <li role="presentation"><a href="#invites" aria-controls="invites" role="tab" data-toggle="tab">Invites</a></li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="organization">
                        @Html.Partial("_Organization")
                    </div>
                    <div role="tabpanel" class="tab-pane" id="members">
                        @Html.Partial("_Members")
                    </div>
                    <div role="tabpanel" class="tab-pane" id="owners">
                        @Html.Partial("_Owners")
                    </div>
                    <div role="tabpanel" class="tab-pane" id="invites">
                        @Html.Partial("_Invites")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Dialogs")