@page "/account/profile"

<PageTitle>Profile - EstimatorX</PageTitle>

<div class="container-xxl">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Profile
            </li>
        </ol>
    </nav>

    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-user me-2"
               aria-hidden="true"></i>Profile
        </div>
        <div class="card-body">
            <EditForm Model="@UserModel" OnValidSubmit="@HandleSave">
                <FluentValidationValidator />

                <div class="row">
                    <div class="col">
                        <ValidationSummary />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="Name" class="form-label">
                                Name: <span class="text-danger">*</span>
                            </label>
                            <InputText @bind-Value="UserModel.Name"
                                       DisplayName="Name"
                                       id="Name"
                                       name="Name"
                                       class="form-control"
                                       placeholder="Name" />
                            <ValidationMessage For="@(() => UserModel.Name)" />
                        </div>

                        <div class="mb-3">
                            <label for="Email" class="form-label">
                                Email: <span class="text-danger">*</span>
                            </label>
                            <InputText @bind-Value="UserModel.Email"
                                       DisplayName="Email"
                                       id="Email"
                                       name="Email"
                                       type="email"
                                       class="form-control"
                                       placeholder="Name" />
                            <ValidationMessage For="@(() => UserModel.Email)" />
                        </div>
                    </div>
                    <div class="col">
                        <Gravatar Email="@UserStore.Model.Email"
                                  class="rounded-circle d-block mx-auto"
                                  Size="200"></Gravatar>

                        <p class="text-center">
                            You can change your picture at <a href="http://gravatar.com/" target="_blank">Gravatar.com</a>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <BusyButton id="save-button"
                                    type="submit"
                                    Busy="IsBusy"
                                    Disabled="@(!IsDiry)"
                                    class="btn btn-primary">
                            <BusyTemplate>
                                <span class='spinner-border spinner-border-sm'></span> Saving...
                            </BusyTemplate>
                            <ChildContent>
                                Save
                            </ChildContent>
                        </BusyButton>
                    </div>
                    <div class="col">
                    </div>
                </div>

            </EditForm>

        </div>
    </div>
</div>
