@model Estimatorx.Web.Models.EmailModel
@{
    ViewBag.Title = "Reset Password";
}
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user"></i>
                    Reset Password
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8" style="padding: 0 20px">
                            <h4 style="margin-bottom: 30px">
                                Forgot your passord?
                            </h4>
                            <p style="margin: 20px 0">
                                Enter your email to receive a passord reset link.
                            </p>

                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Reset" class="btn btn-primary" />
                                </div>

                                <p>
                                    <span style="margin: 0 20px">@Html.ActionLink("Log in", "Login")</span>
                                    <span style="margin: 0 20px">@Html.ActionLink("Register", "Register")</span>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
