@page "/organizations/{id}/invites"
@inherits OrganizationBase

@using EstimatorX.Client.Pages.Organizations.Components

<PageTitle>Organization @Organization?.Name - Invites - EstimatorX</PageTitle>

<OrganizationContainer Id="@Id">
    <div class="table-responsive">
        <Conditional Condition="Organization != null">
            <DataGrid DataProvider="LoadData"
                      TItem="InviteSummary"
                      class="table table-hover table-bordered mb-0"
                      @ref="DataGrid">
                <DataColumns>
                    <DataColumn TItem="InviteSummary" Property="p => p.Name" />
                    <DataColumn TItem="InviteSummary" Property="p => p.Email" />
                    <DataColumn TItem="InviteSummary" Property="p => p.Id" Width="100px" Title="Actions">
                        <Template Context="item">
                            <button type="button"
                                    title="Re-Send Invite"
                                    class="btn btn-outline-info btn-sm"
                                    @onclick="() => HandleSendInvite(item)"
                                    disabled="@(!IsOwner())">
                                <i class="fas fa-envelope"></i>
                            </button>
                            <button type="button"
                                    title="Delete Invite"
                                    class="btn btn-outline-danger btn-sm"
                                    @onclick="() => HandleDeleteInvite(item)"
                                    disabled="@(!IsOwner())">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </Template>
                    </DataColumn>
                </DataColumns>
                <DataPagination Context="grid">
                    <div class="w-100 m-1 d-flex justify-content-between align-items-center">
                        <DataPager PageSize="20" ShowEmpty="true" />
                        <DataSizer />
                        <div class="me-1">@grid.Pager.StartItem - @grid.Pager.EndItem of @grid.Pager.Total</div>
                    </div>
                </DataPagination>
            </DataGrid>
        </Conditional>
    </div>
    <Conditional Condition="IsOwner()">
        <div class="row mx-1 my-2">
            <div class="col">
                <button id="invite-button"
                        class="btn btn-secondary"
                        @onclick="HandleNewInvite"
                        type="button">
                    Send Invite
                </button>
            </div>
            <div class="col"></div>
        </div>
    </Conditional>
</OrganizationContainer>

