@page "/organizations/{id}/members"
@inherits OrganizationBase

@using EstimatorX.Client.Pages.Organizations.Components

<PageTitle>Organization @Organization?.Name - Members - EstimatorX</PageTitle>

<OrganizationContainer Id="@Id">
    <div class="table-responsive">
        <Conditional Condition="MemberList != null">
            <DataGrid Data="MemberList"
                      TItem="OrganizationMember"
                      class="table table-hover table-bordered mb-0"
                      @ref="DataGrid">
                <DataColumns>
                    <DataColumn TItem="OrganizationMember" Property="p => p.Name" />
                    <DataColumn TItem="OrganizationMember" Property="p => p.Email" />
                    <DataColumn TItem="OrganizationMember" Property="p => p.IsOwner" Title="Owner" Width="115px" />
                    <DataColumn TItem="OrganizationMember" Property="p => p.Id" Width="100px" Title="Actions">
                        <Template Context="item">
                            <button type="button"
                                    title="Toggle Owner"
                                    class="btn btn-outline-info btn-sm"
                                    @onclick="() => HandleToggleOwner(item.Id)"
                                    disabled="@(IsSelf(item.Id) || !IsOwner())">
                                <i class="fas fa-user-shield"></i>
                            </button>
                            <button type="button"
                                    title="Remove Member"
                                    class="btn btn-outline-danger btn-sm"
                                    @onclick="() => HandleRemoveUser(item.Id)"
                                    disabled="@(IsSelf(item.Id) || !IsOwner())">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </Template>
                    </DataColumn>
                </DataColumns>
            </DataGrid>
        </Conditional>
    </div>
    <Conditional Condition="IsOwner()">
        <div class="row mx-1 my-2">
            <div class="col">
                <CascadingValue Value=@(new EditContext(new {}))>
                    <Typeahead SearchMethod="@SearchUsers"
                               @bind-Value="@SelectedUser"
                               Placeholder="Add Member"
                               MinimumLength="3">
                        <SelectedTemplate Context="user">
                            @user.Name
                        </SelectedTemplate>
                        <ResultTemplate Context="user">
                            <div>@user.Name</div>
                            <small>@user.Email</small>
                        </ResultTemplate>
                    </Typeahead>
                </CascadingValue>
            </div>
            <div class="col">
                <BusyButton id="add-user-button"
                            type="button"
                            Busy="OrganizationStore.IsBusy"
                            Disabled="@(SelectedUser == null)"
                            @onclick="@HandleAddUser"
                            class="btn btn-primary">
                    <BusyTemplate>
                        <span class='spinner-border spinner-border-sm'></span> Saving...
                    </BusyTemplate>
                    <ChildContent>
                        Add User
                    </ChildContent>
                </BusyButton>
            </div>
        </div>
    </Conditional>
</OrganizationContainer>
