@using Blazored.FluentValidation
@using EstimatorX.Client.Extensions
@using EstimatorX.Client.Repositories
@using EstimatorX.Client.Services
@using EstimatorX.Client.Stores
@using EstimatorX.Shared.Extensions
@using EstimatorX.Shared.Models

@inject NavigationManager Navigation
@inject OrganizationRepository OrganizationRepository
@inject NotificationService NotificationService
@inject UserStore UserStore
@inject IJSRuntime JSRuntime

<EditForm Model="@Organization" OnValidSubmit="@HandleSave">
    <FluentValidationValidator />
    <div class="row">
        <div class="col">
            <ValidationSummary />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="Name" class="form-label">
                    Name: <span class="text-danger">*</span>
                </label>
                <InputText @bind-Value="Organization.Name"
                           DisplayName="Name"
                           id="Name"
                           name="Name"
                           class="form-control"
                           placeholder="Name" />
                <ValidationMessage For="@(() => Organization.Name)" />
            </div>

            <div class="mb-3">
                <label for="Description" class="form-label">
                    Description:
                </label>
                <InputTextArea @bind-Value="Organization.Description"
                               DisplayName="Description"
                               id="Description"
                               name="Description"
                               class="form-control"
                               placeholder="Description" />
                <ValidationMessage For="@(() => Organization.Description)" />
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <BusyButton id="save-button"
                        type="submit"
                        Busy="IsBusy"
                        Disabled="@(!IsDiry)"
                        class="btn btn-primary">
                <BusyTemplate>
                    <span class='spinner-border spinner-border-sm'></span> Saving...
                </BusyTemplate>
                <ChildContent>
                    Save
                </ChildContent>
            </BusyButton>
        </div>
        <div class="col">
            <ConditionalDisplay Show="IsUpdate">
                <button id="delete-button"
                        type="button"
                        @onclick="HandleDelete"
                        disabled="@IsBusy"
                        class="btn btn-danger fa-pull-right">
                    Delete
                </button>
            </ConditionalDisplay>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }

    private OrganizationModel Organization { get; set; } = new();

    private bool IsUpdate => Id.HasValue();

    private bool IsBusy { get; set; }

    private int OriginalHash { get; set; }

    private bool IsDiry => OriginalHash != Organization.GetHashCode();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (IsUpdate)
            {
                Organization = await OrganizationRepository.Load(Id);
                if (Organization == null)
                    Navigation.NavigateTo("/organizations");

                OriginalHash = Organization.GetHashCode();
                return;
            }

            // create mode
            if (UserStore.Model == null)
                return;

            var member = new OrganizationMember
                {
                    Id = UserStore.Model.Id,
                    Name = UserStore.Model.Name,
                    IsOwner = true
                };

            Organization.Members.Add(member);

        }
        catch (Exception ex)
        {
            NotificationService.ShowError(ex);
        }
    }

    protected async Task HandleSave()
    {
        try
        {
            IsBusy = true;
            Organization = await OrganizationRepository.Save(Organization);
            OriginalHash = Organization.GetHashCode();

            NotificationService.ShowSuccess($"Organization '{Organization.Name}' saved successfully");
            Navigation.NavigateTo($"/organizations/{Organization.Id}");
        }
        catch (Exception ex)
        {
            NotificationService.ShowError(ex);
        }
        finally
        {
            IsBusy = false;
        }
    }

    protected async Task HandleDelete()
    {
        try
        {
            if (!await JSRuntime.Confirm($"Are you sure you want to delete '{Organization.Name}'?"))
                return;

            IsBusy = true;

            await OrganizationRepository.Delete(Id);

            NotificationService.ShowSuccess($"Organization '{Organization.Name}' deleted successfully");
            Navigation.NavigateTo("/organizations");
        }
        catch (Exception ex)
        {
            NotificationService.ShowError(ex);
        }
        finally
        {
            IsBusy = false;
        }
    }
}
