@page "/projects/create"

@using EstimatorX.Client.Pages.Projects.Components
@using EstimatorX.Client.Repositories
@using EstimatorX.Client.Stores

<PageTitle>Project Create - EstimatorX</PageTitle>

<div class="container-xxl">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/projects">Projects</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Create
            </li>
        </ol>
    </nav>
    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-user mr-2"
               aria-hidden="true"></i> Project Create
        </div>
        <div class="card-body">
            <EditForm Model="@Model" OnValidSubmit="@HandleSave">
                <FluentValidationValidator />

                <div class="row">
                    <div class="col">
                        <ValidationSummary />
                    </div>
                </div>

                <ProjectForm TStore="ProjectStore" TRepository="ProjectRepository" TModel="Project" />

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="Template" class="form-label">
                                Template:
                            </label>
                            <InputSelect @bind-Value="Model.TemplateKey"
                                         DisplayName="Template"
                                         id="Template"
                                         name="Template"
                                         class="form-select">
                                <option value="">-- Select --</option>
                                <Repeater Items="Templates">
                                    <Row Context="template">
                                        <option value="@CosmosKey.Encode(template.Id, template.OrganizationId)">@template.Name</option>
                                    </Row>
                                </Repeater>
                            </InputSelect>
                            <ValidationMessage For="@(() => Model.OrganizationId)" />
                        </div>
                    </div>
                    <div class="col">

                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <BusyButton id="save-button"
                                    type="submit"
                                    Busy="Store.IsBusy"
                                    class="btn btn-primary">
                            <BusyTemplate>
                                <span class='spinner-border spinner-border-sm'></span> Saving...
                            </BusyTemplate>
                            <ChildContent>
                                Save
                            </ChildContent>
                        </BusyButton>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </EditForm>

        </div>
    </div>
</div>

