@{
    Layout = "_Layout";
}

<div class="container">
    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <div class="card">
        <div class="card-header">
            <i class="fas fa-user mr-2"
               aria-hidden="true"></i> Profile

            <ul class="nav nav-tabs card-header-tabs float-end">
                <li class="nav-item">
                    <a id="user-profile-tab"
                       title="Profile"
                       class="nav-link @(ViewBag.UserTab == "Profile" ? "active" : "")"
                       asp-page="/account/manage/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a id="user-password-tab"
                       title="Password"
                       class="nav-link @(ViewBag.UserTab == "Password" ? "active" : "")"
                       asp-page="/account/manage/password">Password</a>
                </li>
            </ul>

        </div>
        <div class="card-body">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}