@{
    ViewBag.Title = "Project";
}

<div class="container"
     ng-controller="projectEditController"
     ng-init="viewModel.load('@Model')">

    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a href="@Url.Action("Index")">Projects</a></li>
        <li class="active">Edit</li>
    </ol>

    <form id="projectForm" name="projectForm" role="form"
          ng-submit="viewModel.save(projectForm.$valid)"
          novalidate="novalidate">

        <div class="panel panel-default">
            <div sticky offset="50" sticky-class="sticky-heading" media-query="min-width: 768px" class="panel-heading">
                <div class="pull-right hidden-xs">
                    <label style="padding: 0 5px;">Total Hours:</label>
                    <span style="padding: 0 5px; width: 80px; display: inline-block;">{{ viewModel.project.TotalHours}}</span>
                    <label style="padding: 0 5px;">Total Weeks:</label>
                    <span style="padding: 0 5px; width: 80px; display: inline-block;">{{ viewModel.project.TotalWeeks | number:2}}</span>
                </div>
                <div class="nowrap">
                    <i class="fa fa-calculator"></i> Project
                    <span ng-show="viewModel.project.Name">- <strong>{{ viewModel.project.Name}}</strong></span>
                </div>
            </div>
            <div class="panel-body">
                <div class="tab-container">
                    <!-- Nav tabs -->
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#project" aria-controls="project" role="tab" data-toggle="tab">Project</a></li>
                            <li role="presentation"><a href="#assumptions" aria-controls="assumptions" role="tab" data-toggle="tab">Assumptions</a></li>
                            <li role="presentation"><a href="#factors" aria-controls="factors" role="tab" data-toggle="tab">Factors</a></li>
                            <li role="presentation"><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">Tasks</a></li>
                            <li role="presentation"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
                            <li role="presentation"><a href="#share" aria-controls="share" role="tab" data-toggle="tab">Share</a></li>
                        </ul>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="project">
                            @Html.Partial("_Project")
                        </div>
                        <div role="tabpanel" class="tab-pane" id="assumptions">
                            @Html.Partial("_Assumptions")
                        </div>
                        <div role="tabpanel" class="tab-pane" id="factors">
                            @Html.Partial("_Factors")
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tasks">
                            @Html.Partial("_Tasks")
                        </div>
                        <div role="tabpanel" class="tab-pane" id="summary">
                            @Html.Partial("_Summary")
                        </div>
                        <div role="tabpanel" class="tab-pane" id="share">
                            @Html.Partial("_Share")
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-8">
                        <button id="project-save-button" type="submit" class="btn btn-primary"
                                ng-disabled="!projectForm.$dirty">
                            Save
                        </button>
                        <button id="project-undo-button" type="button" class="btn btn-default"
                                ng-click="viewModel.undo()"
                                ng-disabled="!projectForm.$dirty">
                            Undo
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <div class="pull-right">
                            <div class="btn-group">
                                <a id="project-report-button" href="@Url.Action("Report", new {id = Model})"
                                   class="btn btn-default"
                                   ng-disabled="projectForm.$dirty">
                                    Report
                                </a>
                                <button type="button"
                                        class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown" 
                                        ng-disabled="projectForm.$dirty"
                                        aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("Report", new {id = Model})">View Report</a></li>
                                    <li><a href="@Url.Action("Report", "Download", new {id = Model})" target="_blank">Download Report</a></li>
                                </ul>
                            </div>
                            <button id="project-delete-button" 
                                    type="button"
                                    class="btn btn-danger"
                                    ng-click="viewModel.delete()"
                                    ng-disabled="projectForm.$dirty">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@Html.Partial("_Dialogs")
