@inherits ProjectComponentBase<TStore, TRepository, TModel>
@typeparam TStore
@typeparam TRepository
@typeparam TModel

<Conditional Condition="@(Epic != null)">
    <Accordion ParentGroup="epic-accordion">
        <Header>
            <div class="w-100 pe-2 d-flex justify-content-between">
                <div class="accordion-header-item flex-grow-1">
                    @Epic.Name
                </div>
                <div class="accordion-header-item">
                    <span class="accordion-header-label">Estimate:</span>
                    <span class="text-nowrap">@(Epic.EstimatedTotal ?? 0) - @(Epic.WeightedTotal ?? 0)</span>
                </div>
                <div class="accordion-header-item">
                    <span class="accordion-header-label">Cost:</span>
                    <span class="text-nowrap">@((Epic.EstimatedCost ?? 0).ToString("C")) - @((Epic.WeightedCost ?? 0).ToString("C"))</span>
                </div>
            </div>
        </Header>
        <Body>
            <div class="row">
                <div class="col">
                    <div class="mb-2">
                        <label for="@Identifier("name")" class="form-label">
                            Epic Name: <span class="text-danger">*</span>
                        </label>
                        <InputText id="@Identifier("name")" @bind-Value="Epic.Name" class="form-control" />
                        <ValidationMessage For="@(() => Epic.Name)" />
                    </div>
                    <div class="mb-2">
                        <label for="@Identifier("description")" class="form-label">
                            Epic Description:
                        </label>
                        <InputTextArea id="@Identifier("description")" @bind-Value="Epic.Description" class="form-control" rows="4" />
                        <ValidationMessage For="@(() => Epic.Description)" />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-2">
                        <label for="@Identifier("assumptions")" class="form-label">
                            Epic Assumptions:
                        </label>
                        <InputTextArea id="@Identifier("assumptions")" @bind-Value="Epic.Assumptions" class="form-control" rows="7" />
                        <ValidationMessage For="@(() => Epic.Assumptions)" />
                    </div>
                </div>
            </div>
            <FeatureContainer Epic="Epic" TStore="TStore" TRepository="TRepository" TModel="TModel" />
        </Body>
    </Accordion>
</Conditional>
