@inherits ProjectComponentBase<TStore, TRepository, TModel>
@typeparam TStore
@typeparam TRepository
@typeparam TModel

<Conditional Condition="Epic != null">
    <div class="row">
        <div class="col">
            <div class="accordion-feature" id="@ParentCollapse">
                <Repeater Items="Epic.Features" Context="feature">
                    <FeatureEditor @key="feature"
                                   Epic="Epic"
                                   Feature="feature"
                                   ParentCollapse="@ParentCollapse"
                                   TStore="TStore"
                                   TRepository="TRepository"
                                   TModel="TModel" />
                </Repeater>
            </div>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col">
            <button type="button"
                    id="@(Identifier("add-button"))"
                    @onclick="FeatureAdd"
                    class="btn btn-outline-secondary btn-sm">
                <i class="fas fa-plus"></i> Add Feature
            </button>

            <button type="button"
                    id="@(Identifier("order-button"))"
                    @onclick="FeatureReporder"
                    class="btn btn-outline-secondary btn-sm">
                <i class="fas fa-sort"></i> Reorder Features
            </button>
        </div>
        <div class="col">
            <button type="button"
                    id="@(Identifier("delete-button"))"
                    @onclick="EpicDelete"
                    disabled="@Store.IsBusy"
                    class="btn btn-outline-danger btn-sm ms-2 fa-pull-right">
                <i class="fas fa-trash-alt"></i> Delete Epic
            </button>

            <button type="button"
                    id="@(Identifier("duplicate-button"))"
                    @onclick="EpicDuplicate"
                    disabled="@Store.IsBusy"
                    class="btn btn-outline-secondary btn-sm ms-2 fa-pull-right">
                <i class="fas fa-copy"></i> Duplicate Epic
            </button>
        </div>

    </div>
</Conditional>
