@inherits ProjectComponentBase<TStore, TRepository, TModel>
@typeparam TStore
@typeparam TRepository
@typeparam TModel

<h3>Project Summary</h3>

<table class="table table-borderless">
    <colgroup>
        <col style="width: 30px" />
        <col style="" />
        <col style="width: 100px" />
        <col style="width: 100px" />
        <col style="width: 100px" />
        <col style="width: 140px" />
        <col style="width: 140px" />
    </colgroup>
    <thead>
        <tr>
            <th></th>
            <th>Deliverable</th>
            <th class="text-end">Rate</th>
            <th class="text-end">Estimated</th>
            <th class="text-end">Weighted</th>
            <th class="text-end">Estimated Cost</th>
            <th class="text-end">Weighted Cost</th>
        </tr>
    </thead>
    <Conditional Condition="Model != null">
        <tbody>
            <Repeater Items="Model.Epics" Context="epic">
                <tr @key="epic">
                    <td class="text-center">
                        <button type="button"
                                id="@($"epic-collapse-{epic.Id}-button")"
                                class="btn btn-sm"
                                @onclick="() => ToggleCollapse(epic.Id)">
                            @if (CollapseState(epic.Id))
                            {
                                <i class="fas fa-caret-down"></i>
                            }
                            else
                            {
                                <i class="fas fa-caret-right"></i>
                            }
                        </button>
                    </td>
                    <td>@epic.Name</td>
                    <td class="text-end">@Model.Settings.EstimateRate.ToString("C")</td>
                    <td class="text-end">@epic.EstimatedTotal</td>
                    <td class="text-end">@epic.WeightedTotal</td>
                    <td class="text-end">@epic.EstimatedCost?.ToString("C")</td>
                    <td class="text-end">@epic.WeightedCost?.ToString("C")</td>
                </tr>
                @if (CollapseState(epic.Id))
                {
                    <Repeater Items="epic.Features" Context="feature">
                        <tr @key="feature" class="text-muted">
                            <td></td>
                            <td style="padding-left: 1.5em" colspan="2">@feature.Name</td>
                            <td class="text-end">@feature.EstimatedTotal</td>
                            <td class="text-end">@feature.WeightedTotal</td>
                            <td class="text-end">@feature.EstimatedCost?.ToString("C")</td>
                            <td class="text-end">@feature.WeightedCost?.ToString("C")</td>
                        </tr>
                    </Repeater>
                }
            </Repeater>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3" class="text-end">Grand Total:</th>
                <th class="text-end">@Model.EstimatedTotal</th>
                <th class="text-end">@Model.WeightedTotal</th>
                <th class="text-end">@Model.EstimatedCost?.ToString("C")</th>
                <th class="text-end">@Model.WeightedCost?.ToString("C")</th>
            </tr>
        </tfoot>
    </Conditional>
</table>

