<ul class="nav nav-tabs card-header-tabs float-end">
    <Conditional Condition="Model != null">
        <li class="nav-item">
            <NavLink id="organization-members-tab-link"
                     Match="NavLinkMatch.All"
                     ActiveClass="active"
                     class="nav-link"
                     href="@($"/projects/{Model.Id}/{Model.OrganizationId}")"
                     title="Project Assumptions">Summary</NavLink>
        </li>
        <li class="nav-item">
            <NavLink id="organization-general-tab-link"
                     Match="NavLinkMatch.All"
                     ActiveClass="active"
                     class="nav-link"
                     href="@($"/projects/{Model.Id}/{Model.OrganizationId}/general")"
                     title="Project General Details">General</NavLink>
        </li>
        <li class="nav-item">
            <NavLink id="organization-members-tab-link"
                     Match="NavLinkMatch.All"
                     ActiveClass="active"
                     class="nav-link"
                     href="@($"/projects/{Model.Id}/{Model.OrganizationId}/estimation")"
                     title="Project Estimation">Estimation</NavLink>
        </li>
        <li class="nav-item">
            <NavLink id="organization-members-tab-link"
                     Match="NavLinkMatch.All"
                     ActiveClass="active"
                     class="nav-link"
                     href="@($"/projects/{Model.Id}/{Model.OrganizationId}/details")"
                     title="Project Detailed Estimation">Details</NavLink>
        </li>
        <li class="nav-item">
            <NavLink id="organization-members-tab-link"
                     Match="NavLinkMatch.All"
                     ActiveClass="active"
                     class="nav-link"
                     href="@($"/projects/{Model.Id}/{Model.OrganizationId}/settings")"
                     title="Project Assumptions">Settings</NavLink>
        </li>
    </Conditional>
</ul>


